<button
  class='bg-primary hover:bg-primary-hovered text-foreground-reversed cursor-pointer rounded-md px-5 py-2 text-sm font-semibold tracking-wide shadow-sm transition-all duration-200'>
  <slot />
</button>
