---
import { Image } from 'astro:assets'
---

<a href="/" class="flex items-center gap-x-3">
  <Image
    src="/bcw-logo.avif"
    alt="Winterthur Bridge Club Logo"
    width={150}
    height={40}
    class="object-contain"
  />
</a>
